/*
accent : #6870ab;
grey   : #eee;
white  : #fff;

z-index
- 2: sidebar
- 3: footer
- 3: github ribbon
*/

/*================================================================ General
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

/*================================================================ Common
*/

.monospace {
  font-family: monospace;
}

.transition {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/*================================================================ Main
*/

#game-wrap {
  background-color: #eee;
}

/*================================================================ Sidebar
*/

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  opacity: .4;
}

#sidebar:hover {
  opacity: .8;
}

.widget {
  width: 100%;
}

.widget > ul {
  width: 100%;
}

#players {
  border-left: 1px solid #eee;
  padding: 12px;
  list-style: none;
}

#players li {
  padding-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#players li:nth-child(odd) {
  background: #eee;
}

#players li.player {
  background-color: #6870ab;
  color: #fff;
}

/*================================================================ Footer
*/

.footer-wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: .6;
  z-index: 3;
}

.footer-wrap:hover,
.footer-wrap:active
.footer-wrap:focus {
  opacity: 1;
}

.footer {
  position: relative;
}

.footer .report {
  padding: 6px;
  color: #6870ab;
  height: 27px;
}

.footer #form {
  height: 36px;
}

.footer #text-input {
  border: 0;
  width: 90%;
  height: 36px;
  line-height: 36px;
  padding-left: 12px;
  float: left;
  background-color: #eee;
}

.footer #form-btn {
  float: left;
  width: 10%;
  height: 36px;
  background: none;
  border: none;
  background-color: #fff;
}

#log-wrap {
  width: 100%;
  height: 220px;
  overflow-y: scroll;
}

#logs {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#logs li {
  padding: 6px 12px;
}

#logs li:nth-child(odd) {
  background: #eee;
}

/*================================================================ Others
*/

/* http://tholman.com/github-corners/ */
@keyframes octocat-wave{
  0%,100% { transform: rotate(0) }
  20%,60% { transform: rotate(-25deg) }
  40%,80% { transform: rotate(10deg) }
}

.github-corner {
  z-index: 4;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
